<!DOCTYPE html>
<html>
<head>
    <title>Blog Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<marquee color="purple">CHAIN ID A DECENTRILIZED APPROCAH </marquee>
<body>
    <nav>
        <a href="/">Home</a>
        {% if session.get('username') %}
            <a href="/create">New Post</a>
            <a href="/logout">Logout ({{ session['username'] }})</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        {% endif %}
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
<p stle="color: red "> PLACE OF BLOGS created by barinder </p>
</html>
